In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_official_languages_by_country_and_territory').text

In [4]:
soup = BeautifulSoup(website_url,'lxml')

In [5]:
table = soup.find('table',{'class':'wikitable'})

In [14]:
url='https://en.wikipedia.org/wiki/List_of_official_languages_by_country_and_territory'

df=pd.read_html(url, header=0)[1]
df.head()

,Country,Official language,Regional language,Minority language,National language,Widely spoken
0,Abkhazia[a],Abkhaz Russian,NaN,Georgian,Abkhaz,NaN
1,Afghanistan[1],Pashto Dari,Uzbek[b] Turkmen[b] Pashai[b] Nuristani[b] Bal...,NaN,NaN,NaN
2,Albania[2],Albanian,NaN,Greek Macedonian Aromanian,NaN,Italian
3,Algeria[3],Arabic Tamazight,NaN,NaN,Arabic Tamazight,French
4,Andorra,Catalan[4],NaN,Spanish French Portuguese,NaN,NaN

In [15]:
df = df[['Country','Official language','National language','Widely spoken']]

In [16]:
import re

#regex = re.compile('[^a-zA-Z]')

df['country'] = df['Country'].apply(lambda x: re.sub('[\(\[].*?[\)\]]', '', x))
df[['Official language','National language','Widely spoken']] = df[['Official language','National language','Widely spoken']].astype(str)
df['Official language'] = df['Official language'].apply(lambda x: '' if x == "nan" else x)
df['National language'] = df['National language'].apply(lambda x: '' if x == "nan" else x)
df['Widely spoken'] = df['Widely spoken'].apply(lambda x: '' if x == "nan" else x)
df['language'] = df[['Official language','National language','Widely spoken']].apply(lambda x: ' '.join(x), axis=1)
df['language'] = df['language'].apply(lambda x: re.sub('[\(\[].*?[\)\]]', '', x))

df = df[['country','language']]

In [17]:
df.head()

       country                                  language
0     Abkhazia                    Abkhaz Russian Abkhaz
1  Afghanistan                             Pashto Dari
2      Albania                         Albanian  Italian
3      Algeria  Arabic Tamazight Arabic Tamazight French
4      Andorra                                 Catalan

In [18]:
url2='https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'

df2=pd.read_html(url2, header=0)[3]

In [19]:
df2.head()

,Country or area,UN continentalregion[4],UN statisticalregion[4],Population(1 July 2018),Population(1 July 2019),Change
0,China[a],Asia,Eastern Asia,1427647786,1433783686,+0.43%
1,India,Asia,Southern Asia,1352642280,1366417754,+1.02%
2,United States,Americas,Northern America,327096265,329064917,+0.60%
3,Indonesia,Asia,South-eastern Asia,267670543,270625568,+1.10%
4,Pakistan,Asia,Southern Asia,212228286,216565318,+2.04%

In [20]:
df2['country'] = df2['Country or area'].apply(lambda x: re.sub('[\(\[].*?[\)\]]', '', x))

In [21]:
df2['pop'] = df2['Population(1 July 2019)']
df2 = df2[['country','pop']]
df2.head(10)

         country         pop
0          China  1433783686
1          India  1366417754
2  United States   329064917
3      Indonesia   270625568
4       Pakistan   216565318
5         Brazil   211049527
6        Nigeria   200963599
7     Bangladesh   163046161
8         Russia   145872256
9         Mexico   127575529

In [22]:
url3='https://en.wikipedia.org/wiki/List_of_countries_by_population_growth_rate'

df3=pd.read_html(url3, header=0)[2]

In [23]:
df3.head()

,Country/ Region,WB[1]2009(%),CIA WF[2]2012(%),CIA WF[3]2014(%),UN[4]2005-10(%),UN[4]2010-15(%),UN[4]2015-20(%)
0,Afghanistan,2.44,2.29,2.29,2.78,3.16,2.41
1,Albania,0.26,0.30,0.30,-0.92,-0.12,0.13
2,Algeria,1.89,1.88,1.88,1.63,1.98,1.67
3,Andorra,0.63,0.17,0.17,1.37,-1.59,-0.21
4,Angola,3.12,2.78,2.78,3.57,3.52,3.28

In [24]:
df3['country'] = df3['Country/ Region'].apply(lambda x: re.sub('[\(\[].*?[\)\]]', '', x))
df3.columns = ['country/region','2009','2012','2014','2005_10','2010_15','2015_20','country']
df3 = df3[['country','2005_10','2010_15','2015_20']]
df3.head()

       country  2005_10  2010_15  2015_20
0  Afghanistan     2.78     3.16     2.41
1      Albania    -0.92    -0.12     0.13
2      Algeria     1.63     1.98     1.67
3      Andorra     1.37    -1.59    -0.21
4       Angola     3.57     3.52     3.28

In [25]:
df4 = df.set_index('country').join(df2.set_index('country'))
df4 = df4.join(df3.set_index('country'))
df4 = df4[~df4['pop'].isnull()]
df4 = df4.reset_index()

In [32]:
df4[df4.language == '']

Empty DataFrame
Columns: [country, language, pop, 2005_10, 2010_15, 2015_20]
Index: []

In [33]:
df4

,country,language,pop,2005_10,2010_15,2015_20
0,Afghanistan,Pashto Dari,38041754.0,2.78,3.16,2.41
1,Albania,Albanian Italian,2880917.0,-0.92,-0.12,0.13
2,Algeria,Arabic Tamazight Arabic Tamazight French,43053054.0,1.63,1.98,1.67
3,Andorra,Catalan,77142.0,1.37,-1.59,-0.21
4,Angola,Portuguese Kimbundu Umbundu Kikongo Chokwe Kwa...,31825295.0,3.57,3.52,3.28
...,...,...,...,...,...,...
189,Venezuela,Spanish Venezuelan Sign Language,28515829.0,1.61,1.41,1.26
190,Vietnam,Vietnamese,96462106.0,0.96,1.12,1.00
191,Yemen,Arabic,29161922.0,2.74,2.62,2.33
192,Zambia,English,17861030.0,2.78,3.01,2.97
193,Zimbabwe,Chewa Chibarwe English Kalanga Khoisan Nambya ...,14645468.0,1.70,2.27,2.28

In [93]:
languages = pd.read_csv('languages.csv',header=None)
languages = languages[0]
languages = languages.apply(lambda x: re.sub('[\(\[].*?[\)\]]', '', x))
languages = languages.tolist()

languages

['Mandarin Chinese',
 'English',
 'Hindustani ',
 'Spanish',
 'Arabic',
 'Malay ',
 'Russian',
 'Bengali',
 'Portuguese',
 'French',
 'Hausa',
 'Punjabi',
 'Japanese',
 'German',
 'Persian',
 'Swahili',
 'Telugu',
 'Javanese',
 'Wu Chinese ',
 'Korean',
 'Tamil',
 'Cantonese',
 'Turkish',
 'Vietnamese',
 'Italian']

In [94]:
languages[0] = 'Mandarin'
languages[2] = 'Hindi'

In [95]:
df4[df4.language.str.contains('Telugu')]

Empty DataFrame
Columns: [country, language, pop, 2005_10, 2010_15, 2015_20]
Index: []

In [96]:
df4.count() #need to deal with nan growth rates

country     194
language    194
pop         194
2005_10     191
2010_15     191
2015_20     190
dtype: int64

In [97]:
for lang in languages:
    print(lang + ": " + str(len(df4[df4.language.str.contains(lang)])))
# need to deal with languages with 0 countries speaking them
# potential solution: combine official languages with national and widely spoken languages
# also need to deal with dialects of Chinese -- combine Mandarin with Wu Chinese?
# Telugu ?

Mandarin: 3
English: 64
Hindi: 2
Spanish: 20
Arabic: 29
Malay : 3
Russian: 8
Bengali: 1
Portuguese: 10
French: 30
Hausa: 2
Punjabi: 1
Japanese: 1
German: 7
Persian: 2
Swahili: 5
Telugu: 0
Javanese: 1
Wu Chinese : 0
Korean: 2
Tamil: 2
Cantonese: 2
Turkish: 2
Vietnamese: 2
Italian: 7

In [181]:
# For each of the language, get countries that speak that langauge (df4.language.str.contains(lang), sort, 
# and pick the first row, then append to a larger df

data = pd.DataFrame()
unique_countries = []

for lang in languages:
    temp = df4[df4.language.str.contains(lang)]
    #print(temp)
    if len(temp) != 0:
        temp = temp.sort_values(by='pop',ascending=False)
        for c in temp['country']:
            if c in unique_countries:
                print(c)
                temp = temp[temp['country'] != c]
        temp['lang'] = lang
        data = data.append(temp.iloc[:2])
        unique_countries = data['country'].tolist()

India
Philippines
Iran
Singapore

In [182]:
data = data.reset_index()
data = data[['country','lang','language','pop','2005_10','2010_15','2015_20']]
data['capacity'] = data['pop']*1.5
data.loc[data['country'] == 'Hong Kong','2015_20'] = 0.83
data.loc[data['country'] == 'Macau','2015_20'] = 1.69

data

,country,lang,language,pop,2005_10,2010_15,2015_20,capacity
0,China,Mandarin,Mandarin,1433783686.00,0.57,0.54,0.39,2150675529.00
1,Taiwan,Mandarin,Mandarin Formosan languages Hakka Mandarin Ta...,23773876.00,0.44,0.33,0.28,35660814.00
2,India,English,Hindi English,1366417754.00,1.46,1.23,1.10,2049626631.00
3,United States,English,English,329064917.00,0.90,0.72,0.71,493597375.50
4,Fiji,Hindi,English Fijian Fiji Hindi,889953.00,0.91,0.74,0.72,1334929.50
5,Mexico,Spanish,Spanish,127575529.00,1.57,1.41,1.23,191363293.50
6,Philippines,Spanish,English Filipino Filipino Sign Language Filipi...,108116615.00,1.66,1.64,1.51,162174922.50
7,Egypt,Arabic,Arabic,100388073.00,1.82,2.18,1.87,150582109.50
8,Iran,Arabic,Persian Persian Persian Arabic,82913906.00,1.14,1.25,1.04,124370859.00
9,Malaysia,Malay,Malay,31949777.00,1.83,1.78,1.35,47924665.50
10,Singapore,Malay,English Malay Mandarin Tamil Malay,5804337.00,2.44,1.74,1.40,8706505.50
11,Russia,Russian,Russian,145872256.00,-0.07,0.04,-0.01,218808384.00
12,Kazakhstan,Russian,"Kazakh, Russian Kazakh",18551427.00,1.07,1.58,1.13,27827140.50
13,Bangladesh,Bengali,Bengali Bengali,163046161.00,1.18,1.16,1.04,244569241.50
14,Brazil,Portuguese,Portuguese Portuguese,211049527.00,1.03,0.91,0.75,316574290.50
15,Angola,Portuguese,Portuguese Kimbundu Umbundu Kikongo Chokwe Kwa...,31825295.00,3.57,3.52,3.28,47737942.50
16,France,French,French,65129728.00,0.58,0.45,0.39,97694592.00
17,Algeria,French,Arabic Tamazight Arabic Tamazight French,43053054.00,1.63,1.98,1.67,64579581.00
18,Nigeria,Hausa,English Hausa Yoruba Igbo,200963599.00,2.64,2.67,2.58,301445398.50
19,Niger,Hausa,French Arabic Hausa Fulfulde Gulmancema Kanuri...,23310715.00,3.75,3.84,3.81,34966072.50
20,Pakistan,Punjabi,English Urdu Urdu Punjabi Balochi Sindhi Pashto,216565318.00,2.05,2.09,1.91,324847977.00
21,Japan,Japanese,Japanese Japanese,126860301.00,0.03,-0.09,-0.23,190290451.50
22,Germany,German,German,83517045.00,-0.19,0.20,0.20,125275567.50
23,Belgium,German,"Dutch, French, German",11539328.00,0.73,0.63,0.58,17308992.00
24,Kuwait,Persian,Standard Arabic Kuwaiti Sign Language Kuwaiti ...,4207083.00,5.51,5.44,1.78,6310624.50
25,Tanzania,Swahili,English Swahili,58005463.00,3.14,3.12,3.06,87008194.50
26,Kenya,Swahili,English Swahili,52573973.00,2.74,2.66,2.49,78860959.50
27,Indonesia,Javanese,Indonesian Indonesian sign languages Javanese...,270625568.00,1.35,1.25,1.05,405938352.00
28,South Korea,Korean,Korean Korean Sign Language,51225308.00,0.57,0.52,0.36,76837962.00
29,North Korea,Korean,Korean,25666161.00,0.34,0.42,0.47,38499241.50
30,Sri Lanka,Tamil,Sinhala Tamil,21323733.00,0.68,0.50,0.35,31985599.50
31,Hong Kong,Cantonese,Cantonese English Traditional Chinese,7436154.00,0.44,0.83,0.83,11154231.00
32,Macau,Cantonese,Cantonese Portuguese Chinese,640445.00,2.66,1.89,1.69,960667.50
33,Turkey,Turkish,Turkish,83429615.00,1.26,1.58,1.37,125144422.50
34,Cyprus,Turkish,Greek Turkish Armenian Cypriot Arabic English,1179551.00,1.59,0.85,0.78,1769326.50
35,Vietnam,Vietnamese,Vietnamese,96462106.00,0.96,1.12,1.00,144693159.00
36,Czech Republic,Vietnamese,Czech Slovak Belarusian Bulgarian Croatian Ger...,10689209.00,0.54,0.13,0.06,16033813.50
37,Italy,Italian,Italian,60550075.00,0.31,-0.08,-0.13,90825112.50
38,Switzerland,Italian,French German Italian Romansh,8591365.00,1.11,1.21,0.83,12887047.50

In [183]:
# For each of the unique country, need to:
# run a regression model to get r(t), 
# double the population to get carrying capacity
# then run a logistic growth model to get pop in 50yrs
# then group by language (sum the pop if countries are different) 

import sklearn
from sklearn.linear_model import LinearRegression

coeffs = []
intercepts = []

X = np.array([0,5,10]).reshape(-1,1)
for _, row in data.iterrows():
    y = np.array(row[['2005_10','2010_15','2015_20']])
    reg = LinearRegression().fit(X, y)
    coeffs.append(reg.coef_[0])
    intercepts.append(reg.intercept_)

data['r_coef'] = coeffs
data['r_intercept'] = intercepts

data

,country,lang,language,pop,2005_10,2010_15,2015_20,capacity,r_coef,r_intercept
0,China,Mandarin,Mandarin,1433783686.00,0.57,0.54,0.39,2150675529.00,-0.02,0.59
1,Taiwan,Mandarin,Mandarin Formosan languages Hakka Mandarin Ta...,23773876.00,0.44,0.33,0.28,35660814.00,-0.02,0.43
2,India,English,Hindi English,1366417754.00,1.46,1.23,1.10,2049626631.00,-0.04,1.44
3,United States,English,English,329064917.00,0.90,0.72,0.71,493597375.50,-0.02,0.87
4,Fiji,Hindi,English Fijian Fiji Hindi,889953.00,0.91,0.74,0.72,1334929.50,-0.02,0.89
5,Mexico,Spanish,Spanish,127575529.00,1.57,1.41,1.23,191363293.50,-0.03,1.57
6,Philippines,Spanish,English Filipino Filipino Sign Language Filipi...,108116615.00,1.66,1.64,1.51,162174922.50,-0.01,1.68
7,Egypt,Arabic,Arabic,100388073.00,1.82,2.18,1.87,150582109.50,0.01,1.93
8,Iran,Arabic,Persian Persian Persian Arabic,82913906.00,1.14,1.25,1.04,124370859.00,-0.01,1.19
9,Malaysia,Malay,Malay,31949777.00,1.83,1.78,1.35,47924665.50,-0.05,1.89
10,Singapore,Malay,English Malay Mandarin Tamil Malay,5804337.00,2.44,1.74,1.40,8706505.50,-0.10,2.38
11,Russia,Russian,Russian,145872256.00,-0.07,0.04,-0.01,218808384.00,0.01,-0.04
12,Kazakhstan,Russian,"Kazakh, Russian Kazakh",18551427.00,1.07,1.58,1.13,27827140.50,0.01,1.23
13,Bangladesh,Bengali,Bengali Bengali,163046161.00,1.18,1.16,1.04,244569241.50,-0.01,1.20
14,Brazil,Portuguese,Portuguese Portuguese,211049527.00,1.03,0.91,0.75,316574290.50,-0.03,1.04
15,Angola,Portuguese,Portuguese Kimbundu Umbundu Kikongo Chokwe Kwa...,31825295.00,3.57,3.52,3.28,47737942.50,-0.03,3.60
16,France,French,French,65129728.00,0.58,0.45,0.39,97694592.00,-0.02,0.57
17,Algeria,French,Arabic Tamazight Arabic Tamazight French,43053054.00,1.63,1.98,1.67,64579581.00,0.00,1.74
18,Nigeria,Hausa,English Hausa Yoruba Igbo,200963599.00,2.64,2.67,2.58,301445398.50,-0.01,2.66
19,Niger,Hausa,French Arabic Hausa Fulfulde Gulmancema Kanuri...,23310715.00,3.75,3.84,3.81,34966072.50,0.01,3.77
20,Pakistan,Punjabi,English Urdu Urdu Punjabi Balochi Sindhi Pashto,216565318.00,2.05,2.09,1.91,324847977.00,-0.01,2.09
21,Japan,Japanese,Japanese Japanese,126860301.00,0.03,-0.09,-0.23,190290451.50,-0.03,0.03
22,Germany,German,German,83517045.00,-0.19,0.20,0.20,125275567.50,0.04,-0.12
23,Belgium,German,"Dutch, French, German",11539328.00,0.73,0.63,0.58,17308992.00,-0.01,0.72
24,Kuwait,Persian,Standard Arabic Kuwaiti Sign Language Kuwaiti ...,4207083.00,5.51,5.44,1.78,6310624.50,-0.37,6.11
25,Tanzania,Swahili,English Swahili,58005463.00,3.14,3.12,3.06,87008194.50,-0.01,3.15
26,Kenya,Swahili,English Swahili,52573973.00,2.74,2.66,2.49,78860959.50,-0.03,2.76
27,Indonesia,Javanese,Indonesian Indonesian sign languages Javanese...,270625568.00,1.35,1.25,1.05,405938352.00,-0.03,1.37
28,South Korea,Korean,Korean Korean Sign Language,51225308.00,0.57,0.52,0.36,76837962.00,-0.02,0.59
29,North Korea,Korean,Korean,25666161.00,0.34,0.42,0.47,38499241.50,0.01,0.35
30,Sri Lanka,Tamil,Sinhala Tamil,21323733.00,0.68,0.50,0.35,31985599.50,-0.03,0.68
31,Hong Kong,Cantonese,Cantonese English Traditional Chinese,7436154.00,0.44,0.83,0.83,11154231.00,0.04,0.51
32,Macau,Cantonese,Cantonese Portuguese Chinese,640445.00,2.66,1.89,1.69,960667.50,-0.10,2.56
33,Turkey,Turkish,Turkish,83429615.00,1.26,1.58,1.37,125144422.50,0.01,1.35
34,Cyprus,Turkish,Greek Turkish Armenian Cypriot Arabic English,1179551.00,1.59,0.85,0.78,1769326.50,-0.08,1.48
35,Vietnam,Vietnamese,Vietnamese,96462106.00,0.96,1.12,1.00,144693159.00,0.00,1.01
36,Czech Republic,Vietnamese,Czech Slovak Belarusian Bulgarian Croatian Ger...,10689209.00,0.54,0.13,0.06,16033813.50,-0.05,0.48
37,Italy,Italian,Italian,60550075.00,0.31,-0.08,-0.13,90825112.50,-0.04,0.25
38,Switzerland,Italian,French German Italian Romansh,8591365.00,1.11,1.21,0.83,12887047.50,-0.03,1.19

In [191]:
# discrete logistic growth:
# n[t+1] = (1+r[t](1 - n[t]/K))*n[t]

#data[['pop','capacity']] = data #represent pop in million units
pop_in_50_yrs = []

def logistic_growth(n,r,k):
    return (1 + r*(1-n/k))*n

for _, row in data[['pop','capacity','r_coef','r_intercept']].iterrows():
    row[['pop','capacity']] =  row[['pop','capacity']] / (10**3)
    n = row['pop']
    k = row['capacity']
    r_coef = row['r_coef']
    r_intercept = row['r_intercept']
    
    for t in range(11,61,5):
        r_t = r_coef*t + r_intercept
        n = logistic_growth(n,r_t,k)
        if n<0: n=0

    pop_in_50_yrs.append(n)
    
pop_50 = [i * (10**3) for i in pop_in_50_yrs]

In [192]:
data['pop_in_50'] = pop_50
data

,country,lang,language,pop,2005_10,2010_15,2015_20,capacity,r_coef,r_intercept,pop_in_50
0,China,Mandarin,Mandarin,1433783686.00,0.57,0.54,0.39,2150675529.00,-0.02,0.59,1453562956.09
1,Taiwan,Mandarin,Mandarin Formosan languages Hakka Mandarin Ta...,23773876.00,0.44,0.33,0.28,35660814.00,-0.02,0.43,15208158.09
2,India,English,Hindi English,1366417754.00,1.46,1.23,1.10,2049626631.00,-0.04,1.44,2038022564.04
3,United States,English,English,329064917.00,0.90,0.72,0.71,493597375.50,-0.02,0.87,480693046.59
4,Fiji,Hindi,English Fijian Fiji Hindi,889953.00,0.91,0.74,0.72,1334929.50,-0.02,0.89,1305546.01
5,Mexico,Spanish,Spanish,127575529.00,1.57,1.41,1.23,191363293.50,-0.03,1.57,191354490.96
6,Philippines,Spanish,English Filipino Filipino Sign Language Filipi...,108116615.00,1.66,1.64,1.51,162174922.50,-0.01,1.68,162174922.51
7,Egypt,Arabic,Arabic,100388073.00,1.82,2.18,1.87,150582109.50,0.01,1.93,119291668.71
8,Iran,Arabic,Persian Persian Persian Arabic,82913906.00,1.14,1.25,1.04,124370859.00,-0.01,1.19,124370858.86
9,Malaysia,Malay,Malay,31949777.00,1.83,1.78,1.35,47924665.50,-0.05,1.89,47934898.21
10,Singapore,Malay,English Malay Mandarin Tamil Malay,5804337.00,2.44,1.74,1.40,8706505.50,-0.10,2.38,-0.00
11,Russia,Russian,Russian,145872256.00,-0.07,0.04,-0.01,218808384.00,0.01,-0.04,200450435.13
12,Kazakhstan,Russian,"Kazakh, Russian Kazakh",18551427.00,1.07,1.58,1.13,27827140.50,0.01,1.23,27827786.17
13,Bangladesh,Bengali,Bengali Bengali,163046161.00,1.18,1.16,1.04,244569241.50,-0.01,1.20,244569025.99
14,Brazil,Portuguese,Portuguese Portuguese,211049527.00,1.03,0.91,0.75,316574290.50,-0.03,1.04,289683545.96
15,Angola,Portuguese,Portuguese Kimbundu Umbundu Kikongo Chokwe Kwa...,31825295.00,3.57,3.52,3.28,47737942.50,-0.03,3.60,0.00
16,France,French,French,65129728.00,0.58,0.45,0.39,97694592.00,-0.02,0.57,52909940.14
17,Algeria,French,Arabic Tamazight Arabic Tamazight French,43053054.00,1.63,1.98,1.67,64579581.00,0.00,1.74,63204755.63
18,Nigeria,Hausa,English Hausa Yoruba Igbo,200963599.00,2.64,2.67,2.58,301445398.50,-0.01,2.66,208981277.12
19,Niger,Hausa,French Arabic Hausa Fulfulde Gulmancema Kanuri...,23310715.00,3.75,3.84,3.81,34966072.50,0.01,3.77,0.00
20,Pakistan,Punjabi,English Urdu Urdu Punjabi Balochi Sindhi Pashto,216565318.00,2.05,2.09,1.91,324847977.00,-0.01,2.09,324702063.22
21,Japan,Japanese,Japanese Japanese,126860301.00,0.03,-0.09,-0.23,190290451.50,-0.03,0.03,-0.00
22,Germany,German,German,83517045.00,-0.19,0.20,0.20,125275567.50,0.04,-0.12,125266656.20
23,Belgium,German,"Dutch, French, German",11539328.00,0.73,0.63,0.58,17308992.00,-0.01,0.72,16669290.82
24,Kuwait,Persian,Standard Arabic Kuwaiti Sign Language Kuwaiti ...,4207083.00,5.51,5.44,1.78,6310624.50,-0.37,6.11,34172790781684540166103667429075136562610197531...
25,Tanzania,Swahili,English Swahili,58005463.00,3.14,3.12,3.06,87008194.50,-0.01,3.15,0.00
26,Kenya,Swahili,English Swahili,52573973.00,2.74,2.66,2.49,78860959.50,-0.03,2.76,78312175.59
27,Indonesia,Javanese,Indonesian Indonesian sign languages Javanese...,270625568.00,1.35,1.25,1.05,405938352.00,-0.03,1.37,405403261.26
28,South Korea,Korean,Korean Korean Sign Language,51225308.00,0.57,0.52,0.36,76837962.00,-0.02,0.59,32454365.45
29,North Korea,Korean,Korean,25666161.00,0.34,0.42,0.47,38499241.50,0.01,0.35,38499241.33
30,Sri Lanka,Tamil,Sinhala Tamil,21323733.00,0.68,0.50,0.35,31985599.50,-0.03,0.68,0.00
31,Hong Kong,Cantonese,Cantonese English Traditional Chinese,7436154.00,0.44,0.83,0.83,11154231.00,0.04,0.51,11147063.72
32,Macau,Cantonese,Cantonese Portuguese Chinese,640445.00,2.66,1.89,1.69,960667.50,-0.10,2.56,961282.22
33,Turkey,Turkish,Turkish,83429615.00,1.26,1.58,1.37,125144422.50,0.01,1.35,125194198.25
34,Cyprus,Turkish,Greek Turkish Armenian Cypriot Arabic English,1179551.00,1.59,0.85,0.78,1769326.50,-0.08,1.48,-0.00
35,Vietnam,Vietnamese,Vietnamese,96462106.00,0.96,1.12,1.00,144693159.00,0.00,1.01,144693158.84
36,Czech Republic,Vietnamese,Czech Slovak Belarusian Bulgarian Croatian Ger...,10689209.00,0.54,0.13,0.06,16033813.50,-0.05,0.48,0.00
37,Italy,Italian,Italian,60550075.00,0.31,-0.08,-0.13,90825112.50,-0.04,0.25,0.00
38,Switzerland,Italian,French German Italian Romansh,8591365.00,1.11,1.21,0.83,12887047.50,-0.03,1.19,12738015.21

In [ ]:
## maybe try cublic spine** either that or get more data